#Puerto de escucha en ambiente de desarrollo
PORT=3001

#DATABASE
DB_HOST=dpg-cq303n4s1f4s73f6fs20-a.oregon-postgres.render.com
DB_USER=crojas
DB_PASSWORD=8BymnPqGlpcBk4gTdVXwWP2VMPpnrur3
DB_DATABASE=diplomado_db_9ikd    
DB_DIALECT=postgres

# BCRYPT
BCRYPT_SALT_ROUNDS=10

#JWT  | 60*60 -> SERA 1 HORA
JWT_SECRET=secret
JWT_EXPIRES_SECOND=60*60